.container-fluid {
    background-color: rgb(194, 227, 209)
}

.border-box {
    background-color: rgba(255, 255, 255, 0.815);
    border-radius: 25px;
    padding: 1cm;
    margin: 1cm;
    box-shadow: -1em 1em rgb(119, 172, 151);
}

.music-feed {
    display: flex;
    margin: 0rem;
    border: 0rem;
    justify-content: space-around;
    font-size: 6.5rem;
}

.quote {
    margin-top: -0.5rem;
    margin-bottom: 0rem;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    font-size: 2.3rem;
}